<div ng-controller="app.views.asset.assetlist as vm">
    <div class="container">
        <div class="row">
            <h3>@L("AssetList")</h3>
        </div>
        <div class="row">
                <div id="grid1" ui-grid="vm.gridOptions" class="grid"></div>
                <div>@L("AssetTxtNumberOfAssets") {{vm.gridOptions.data.length}} - @L("AssetTxtNumberOfAssetsVisible") {{vm.gridApi.grid.getVisibleRows().length}}</div>
        </div>
        <div class="row">
            <a ui-sref="assetnew" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> @L("AssetBtnCreateANewAsset")</a>
            <a ui-sref="assettypeedit" class="btn btn-primary btn-sm"><i class="fa fa-tags"></i> @L("AssetBtnGoToAssetTypes")</a>
        </div>
    </div>
</div>