<div ng-controller="app.views.asset.new as vm">
    <div class="container">
        <form id="NewAssetForm" class="form-horizontal" role="form" name="newAssetForm" novalidate>
            <div class="form-group">
                <label class="col-sm-2" for="AssetName">@L("AssetName")</label>
                <div class="col-sm-10"><input type="text" id="AssetName" ng-model="vm.asset.name" class="form-control" placeholder="@L("EnterNameHere")" required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="AssetDescription">@L("AssetDescription")</label>
                <div class="col-sm-10"><textarea id="AssetDescription" ng-model="vm.asset.description" class="form-control" rows="3" placeholder="@L("EnterDescriptionHere")" required></textarea></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="AssetType">@L("AssetType")</label>
                <div class="col-sm-10">
                    <select id="AssetType" class="form-control" ng-model="vm.asset.assetTypeId" ng-options="x.id as x.name for x in vm.assettypes">
                        <option value="">@L("SelectAssetType")</option>
                    </select>
                </div>
            </div>
            <button ng-click="vm.saveAsset()" ng-disabled="NewAssetForm.$invalid" type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> @L("AssetBtnCreateANewAsset")</button>
        </form>
    </div>
</div>
