<div ng-controller="app.views.iow.dashboard as vm">
    <div class="container">
        <div class="row">
            <h3>@L("IowTtlDashboard")</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Metrics</h4>
                <a ui-sref="assetlist" class="btn btn-primary btn-sm"><i class="fa fa-tags"></i> @L("Assets")</a>
                <p><i>...coming soon...</i></p>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Level</th>
                                <th>Number limits</th>
                                <th>% deviation time</th>
                                <th>% limits deviating</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="a in vm.assetLevelStats">
                            <tr>
                                <td>{{a.assetName}}</td>
                            </tr>
                            <tr ng-repeat="s in a.levels">
                                <td>{{s.criticality}} - {{s.levelName}}</td>
                                <td>{{s.numberLimits}}</td>
                                <td>{{(s.durationHours / vm.durationHours / s.numberLimits * 100) | number:0 }}</td>
                                <td>{{(s.numberDeviatingLimits / s.numberLimits * 100) | number:0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4">
                <h4>@L("IOWVariables")</h4>
                <a ui-sref="iowvariablelist" class="btn btn-info btn-sm"><i class="fa fa-sitemap"></i> @L("IOWVariables")</a>
                <a ui-sref="iowlimitstatus" class="btn btn-info btn-sm"><i class="fa fa-crosshairs"></i> @L("IowTtlLimitStatus")</a>
                <p><i>...coming soon...</i></p>
            </div>
            <div class="col-sm-4">
                <h4>Notices</h4>
                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> Notices</a>
                <p><i>...coming soon...</i></p>
            </div>
        </div>
    </div>
</div>