<div ng-controller="app.views.level.edit as vm">
    <div class="container">
        <div class="row">
            <h3>@L("LevelDetails")</h3>
        </div>
        <div class="row">
            <form id="editLevelForm" name="editLevelForm" class="form-horizontal" role="form" novalidate="">
                <div class="form-group" show-errors>
                    <label class="col-sm-2" control-label for="LevelCriticality">@L("Criticality")</label>
                    <div class="col-sm-2"><input id="levelCriticality" name="levelCriticality" class="form-control" type="number" min="1" max="5" ng-model="vm.level.criticality" required></div>
                    <p class="help-block" ng-if="editLevelForm.levelCriticality.$error.required">@L("CriticalityIsRequired")</p>
                    <p class="help-block" ng-if="editLevelForm.levelCriticality.$error.max">@L("CriticalityIsNotInRange", 1, 5)</p>
                    <p class="help-block" ng-if="editLevelForm.levelCriticality.$error.min">@L("CriticalityIsNotInRange", 1, 5)</p>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2" control-label for="LevelName">@L("Name")</label>
                    <div class="col-sm-10">
                        <input type="text" id="levelName" name="levelName" class="form-control" ng-model="vm.level.name" required>
                        <p class="help-block" ng-if="editLevelForm.levelName.$error.required">@L("LevelIsRequired")</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class="col-sm-2" control-label for="LevelDescription">@L("Description")</label>
                    <div class="col-sm-10">
                        <textarea id="levelDescription" name="levelDescription" class="form-control" ng-model="vm.level.description" rows="3" required></textarea>
                        <p class="help-block" ng-if="editLevelForm.levelDescription.$error.required">@L("DescriptionIsRequired")</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="LevelResponseGoal">@L("ResponseGoal")</label>
                    <div class="col-sm-10"><textarea id="LevelResponseGoal" class="form-control" ng-model="vm.level.responseGoal" rows="3"></textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="LevelMetricGoal">@L("MetricGoal")</label>
                    <div class="col-sm-10"><textarea id="LevelMetricGoal" class="form-control" ng-model="vm.level.metricGoal" rows="3"></textarea></div>
                </div>
            </form>
        </div>
        <div class="row">
            <a ui-sref="iowlevellist" class="btn btn-info btn-sm"><i class="fa fa-tasks"></i> @L("LevelList")</a>
            <button ng-click="vm.saveLevel()" ng-disabled="editLevelForm.$invalid" type="submit" class="btn btn-success btn-sm"><i class="fa fa-save"></i> @L("UpdateTheLevel")</button>
            <button ng-show="vm.deleteEnabled" ng-click="vm.deleteLevel()" type="submit" class="btn btn-warning btn-sm"><i class="fa fa-trash"></i> @L("DeleteTheLevel")</button>
        </div>
    </div>
</div>
