<div ng-controller="app.views.level.list as vm">
    <div class="container">
        <div class="row">
            <h3>@L("LevelList")</h3>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1"> </th>
                        <th class="col-sm-2">@L("Name")</th>
                        <th class="col-sm-3">@L("Description")</th>
                        <th class="col-sm-3">@L("ResponseGoal")</th>
                        <th class="col-sm-3">@L("MetricGoal")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="level in vm.levels">
                        <td><a ui-sref="iowleveledit({ levelId: level.id})"><i class="fa fa-pencil-square-o"></i></a></i></td>
                        <td>{{level.criticality}} - {{level.name}}</td>
                        <td>{{level.description}}</td>
                        <td>{{level.responseGoal}}</td>
                        <td>{{level.metricGoal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
                <a ui-sref="iowleveledit({ Id: 0 })" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> @L("CreateLevel")</a>
                <button ng-click="vm.createDefaults()" type="submit" class="btn btn-success btn-sm">@L("CreateDefaultLevels")</button>
        </div>
    </div>
</div>
