<div ng-controller="app.views.limit.summary as vm">
    <div class="container">
        <div class="row">
            <h3>@L("IowTtlLimitSummary")</h3> <strong>{{vm.hoursBackMsg}}</strong>
        </div>
        <div class="row">
            <table class="table-condensed table-responsive">
                <thead>
                    <tr>
                        <th class="col-sm-2"> </th>
                        <th class="col-sm-4">@L("VariableName")</th>
                        <th class="col-sm-2">@L("Limit")</th>
                        <th class="col-sm-2" align="center">@L("DeviationCount")</th>
                        <th class="col-sm-2" align="center">@L("DurationHours")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in vm.variablelimits" ng-class="{'danger':x.criticality>=3 && x.lastStatus>0}">
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-default" ui-sref="iowvariablechart({ Id: x.variableId })"><i class="fa fa-line-chart"></i></a>
                                <a class="btn btn-default" ui-sref="iowvariableview({ Id: x.variableId })"><i class="fa fa-binoculars"></i></a>
                                <a class="btn btn-default" ui-sref="iowvariableedit({ Id: x.variableId })"><i class="fa fa-wrench"></i></a>
                            </div>
                        </td>
                        <td uib-tooltip="{{x.variableDescription}}" tooltip-append-to-body=true>{{x.variableName}}</td>
                        <td uib-tooltip="@L("Causes"): {{x.cause}} @L("Consequences"): {{x.consequences}} @L("Actions"): {{x.action}}" tooltip-append-to-body=true>{{x.criticality}} - {{x.levelName}} - {{x.direction | direction}}</td>
                        <td align="center"><span ng-class="{'label label-danger':x.criticality==1&&x.deviationCount>0,'label label-warning':x.criticality==2&&x.deviationCount>0,'label label-info':x.deviationCount>0}">{{x.deviationCount}}</span></td>
                        <td align="center">{{x.durationHours | number:1}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a ui-sref="iowvariablelist" class="btn btn-default btn-sm"><i class="fa fa-sitemap"></i> @L("IOWVariables")</a>
        </div>
    </div>
</div>