<div ng-controller="app.views.variable.edit as vm">
    <div class="container">
        <div class="row">
            <h3>@L("IowVariable")</h3>
        </div>
        <div class="row">
            <form id="EditVariableForm" class="form-horizontal" role="form" name="editVariableForm" novalidate>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="VariableName">@L("VariableName")</label>
                    <div class="col-sm-10"><input type="text" id="VariableName" ng-model="vm.variable.name" class="form-control" required></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="VariableDescription">@L("Description")</label>
                    <div class="col-sm-10"><textarea id="VariableDescription" ng-model="vm.variable.description" class="form-control" rows="3"></textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="VariableTagName">@L("TagName")</label>
                    <div class="col-sm-10"><select id="VariableTagName" ng-model="vm.variable.tagId" ng-options="x.id as x.name+' - '+x.description for x in vm.tags" class="form-control"></select></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="VariableUOM">@L("UOM")</label>
                    <div class="col-sm-10"><input id="VariableUOM" ng-model="vm.variable.uom" class="form-control"></div>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="grid1" ui-grid="vm.gridOptions" class="grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
        </div>
        <div class="row">
            <button ng-click="vm.saveVariable()" ng-disabled="EditVariableForm.$invalid" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i> @L("UpdateTheVariable")</button>
            <a ui-sref="iowvariablestatus" class="btn btn-default btn-sm"><i class="fa fa-sitemap"></i> @L("IOWVariableStatus")</a>
            <a ui-sref="iowvariablelist" class="btn btn-default btn-sm"><i class="fa fa-sitemap"></i> @L("IOWVariables")</a>
            <a ui-sref="iowvariablechart({ Id: {{vm.variable.id}} })" class="btn btn-default btn-sm"><i class="fa fa-line-chart"></i> @L("Chart")</a>
            <a ui-sref="iowvariableview({ Id: {{vm.variable.id}} })" class="btn btn-default btn-sm"><i class="fa fa-binoculars"></i> @L("View")</a>
            <a ui-sref="iowvariableedit({ Id: {{vm.variable.id}} })" class="btn btn-default btn-sm" disabled="disabled"><i class="fa fa-image"></i> @L("Drawings")</a>
            <button ng-show="vm.deleteEnabled" ng-click="vm.deleteVariable()" type="submit" class="btn btn-default btn-sm"><i class="fa fa-trash"></i> @L("DeleteTheVariable")</button>
        </div>
    </div>
</div>