<div ng-controller="app.views.variable.list as vm">
    <div class="container">
        <div class="row">
            <h3>@L("IowVariableList")</h3>
        </div>
        <div class="row">
            <div id="grid1" ui-grid="vm.gridOptions" class="grid"></div>
            <div>@L("NumberOfVariablesTotal") {{vm.gridOptions.data.length}} @L("NumberOfVariablesVisible") {{vm.gridApi.grid.getVisibleRows().length}}</div>
        </div>
        <div class="row">
            <a ui-sref="iowlimitstatus" class="btn btn-primary btn-sm"><i class="fa fa-sitemap"></i> @L("IowTtlLimitStatus")</a>
            <a ui-sref="iowvariableedit({ })" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> @L("CreateVariable")</a>
        </div>
    </div>
</div>
