<div ng-controller="app.views.assethealth.dashboard2 as vm">
    <div class="container-fluid">
        <div class="row">
            <h3>@L("AssetHealthTtlDashboard") <small> {{vm.startDate | momentLocale}} - {{Date.now() | momentLocale}}</small></h3>
        </div>
        <div class="row">
            <div class="col-sm-7">
                @*<h5>Overall @L("AssetHealthTtlMetrics")</h5>
    <div ng-repeat="m in vm.overallStats">
        <div ng-hide="m.metricType==0">
            <nvd3 options="vm.chartOptions" data="m.chartData"></nvd3>
        </div>
    </div>*@
                <div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Asset")</th>
                                <th></th>
                                <th ng-repeat="a in vm.overallStats" class="text-center">{{a.criticality}}-{{a.levelName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="vm.showOverall">
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a class="btn btn-default" ui-sref="assethealthdashboard2({ AssetId: vm.assetParentId, IncludeChildren: 1 })"><i class="fa fa-level-up"></i></a>
                                        <a class="btn btn-default" ui-sref="assetlimitview({ assetId: vm.assetId })"><i class="fa fa-bar-chart"></i></a>
                                    </div>
                                </td>
                                <td>{{vm.assetOverallName}}</td>
                                <td><span class="{{vm.label}}">&nbsp;</span></td>
                                <td ng-repeat="c in vm.overallStats" class="text-center">{{c.metricValue | number:1}}%</td>
                            </tr>
                            <tr ng-repeat="a in vm.assetStats">
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a class="btn btn-default" ui-sref="assethealthdashboard2({ AssetId: a.assetId, IncludeChildren: 1 })"><i class="fa fa-level-down"></i></a>
                                        <a class="btn btn-default" ui-sref="assetlimitview({ assetId: a.assetId })"><i class="fa fa-bar-chart"></i></a>
                                    </div>
                                </td>
                                <td>{{a.assetName}}</td>
                                <td><span class="{{a.label}}">&nbsp;</span></td>
                                <td ng-repeat="c in a.levels" class="text-center {{c.style}}">{{c.metricValue | number:1}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5">
                <h4>Activity</h4>
                <p><i>...coming soon...</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h4>@L("AssetHealthTtlSpecialAttention")</h4>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Variable")</th>
                                <th>@L("Current")</th>
                                <th>@L("Status")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in vm.variableLimits">
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a class="btn btn-default" ui-sref="iowvariablechart({ Id: v.variableId })"><i class="fa fa-line-chart"></i></a>
                                        <a class="btn btn-default" ui-sref="iowvariabledeviations({ Id: v.variableId })"><i class="fa fa-exclamation-circle"></i></a>
                                        <a class="btn btn-default" ui-sref="iowvariableview({ Id: v.variableId })"><i class="fa fa-binoculars"></i></a>
                                    </div>
                                </td>
                                <td>{{v.variableName}}</td>
                                <td>{{v.lastValue}}</td>
                                <td><span class="{{v.severityClass}}">{{v.severityMessage1}}</span> {{v.severityMessage2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5">
                <h4>Resources</h4>
                <p><i>...coming soon...</i></p>
            </div>
        </div>
        <div class="row">
            <div class="btn-group btn-group-sm">
                <a ui-sref="assetlist" class="btn btn-default"><i class="fa fa-tags"></i> @L("AssetBtnGoToAssetList")</a>
                <a ui-sref="assetlevelbarchart" class="btn btn-default"><i class="fa fa-area-chart"></i> @L("AssetMnuAssetLevelBarChart")</a>
            </div>
            <div class="btn-group btn-group-sm">
                <a ui-sref="iowvariablelist" class="btn btn-default"><i class="fa fa-sitemap"></i> @L("IOWVariables")</a>
                <a ui-sref="iowlimitstatus" class="btn btn-default"><i class="fa fa-crosshairs"></i> @L("IowTtlLimitStatus")</a>
                <a href="#" class="btn btn-default"><i class="fa fa-envelope-o"></i> Notices</a>
                <a ui-sref="imagelist" class="btn btn-default"><i class="fa fa-envelope-o"></i> @L("ImgTtlImageList")</a>
            </div>
        </div>
    </div>
</div>