<div ng-controller="app.views.image.listedit as vm">
    <div class="container">
        <div class="row">
            <h3>@L("ImgTtlImageListEdit")</h3>
        </div>
        <div class="row">
            <div id="grid1" ui-grid="vm.gridOptions" class="grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
            <div>@L("ImgTxtNumberOfImagesTotal") {{vm.gridOptions.data.length}}<br />@L("ImgTxtNumberOfImagesVisible") {{vm.gridApi.grid.getVisibleRows().length}}</div>
        </div>
        <div class="row">
            <a ui-sref="imagelist" class="btn btn-info btn-sm"><i class="fa fa-undo"></i> @L("ImgBtnCancelImages")</a>
            <button ng-click="vm.addItem()" type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> @L("ImgBtnAddNewImage")</button>
            <button ng-click="vm.saveAll()" type="submit" class="btn btn-success btn-sm"><i class="fa fa-floppy-o"></i> @L("ImgBtnSaveImages")</button>
        </div>
    </div>
</div>