<div ng-controller="app.views.tag.view as vm">
    <div class="container">
        <div class="row">
            <h3>@L("TagDetails")</h3>
        </div>
        <div class="row">
            <form id="ViewTagForm" class="form-horizontal" role="form" name="viewTagForm" novalidate>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="TagName">@L("TagName")</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{vm.tag.name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="TagDescription">@L("Description")</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{vm.tag.description}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="TagUOM">@L("UOM")</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{vm.tag.uom}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="TagPrecision">@L("Precision")</label>
                    <div class="col-sm-2">
                        <p class="form-control-static">{{vm.tag.precision}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" control-label for="TagType">@L("TagType")</label>
                    <div class="col-sm-2">
                        <p class="form-control-static">{{vm.tag.type | tagType}}</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <a ui-sref="tagdata({ tagId: {{vm.tag.id}} })" class="btn btn-default btn-sm"><i class="fa fa-line-chart"></i> @L("Chart")</a>
            <a ui-sref="tagedit({ tagId: {{vm.tag.id}} })" class="btn btn-default btn-sm" disabled="disabled"><i class="fa fa-image"></i> @L("Drawings")</a>
            <a ui-sref="tagedit({ tagId: {{vm.tag.id}} })" class="btn btn-primary btn-sm">@L("Edit")</a>
        </div>
    </div>
</div>

